/* Background color for .bg-light-yellow */
.bg-light-yellow {
  background-color: #f0e6e5;
}

/* Card hover effect */
.card {
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Animation for card visibility */
.card-hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card-visible {
  opacity: 1;
  transform: translateX(0);
}

/* Styling for card text */
.card-text {
  color: black; /* Sets the text color to black */
  font-size: 26px; /* Sets the font size */
  font-weight: 600; /* Uses numerical value for semibold */
  line-height: 1.6; /* Improved readability */
}

/* Flex container hover effect */
.flex:hover {
  color: blue !important;
}

/* Text hover effect */
.text-hover {
  color: black;
  transition: color 0.3s ease;
}

.text-primary {
  color: blue !important;
}

/* New CSS for alignment and spacing */
.bg-light {
  display: flex;
  align-items: center;
  background-color: #f7f0ed;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.card-title {
  margin-bottom: 15px;
}
