/* Custom styles for carousel indicators */
.custom-indicators {
  bottom: -40px; /* Move indicators down */
}
.largeslider {
  height: 75vh;
}

/* Default dot border color */
.carousel-indicators.custom-indicators button {
  background-color: transparent !important; /* Transparent background */
  border: 2px solid currentColor !important; 
  color: #444444 !important; 
  border-radius: 50px;
}

/* Change active dot color */
.carousel-indicators.custom-indicators .active {
  background-color: #1106ed !important; /* Ensure active dot color is applied */
  border-color: #2704ee !important; /* Change the border to match active background */
}

.carousel-image {
  max-height: 300px; /* Adjust this value as needed */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.h-100vh {
  height: 100vh;
}




@media (max-width: 1350px) {
  .custom-indicators button {
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .largeslider {
    height: auto;
  }
  .custom-indicators {
    bottom: -90px; /* Move indicators down */
  }
}
@media (max-width: 400px) {
  .text-small {
    width: 300px;
  }
  .carousel-image {
    width: 50px;
    max-height: 100px; /* Adjust this value as needed */
    object-fit: cover; /* Ensures the image covers the area without distortion */
  }
  
}
