/* Custom styles for carousel indicators */
.custom-indicators {
  bottom: -90px; /* Move indicators down */
}

/* Default dot border color */
.carousel-indicators.custom-indicators button {
  background-color: transparent !important; /* Transparent background */
  border: 2px solid currentColor !important; /* Use the color as the border color */
  color: #444444 !important; /* Set a dark default dot color (applied to the border) */
}

/* Change active dot color */
.carousel-indicators.custom-indicators .active {
  background-color: #be2604 !important; /* Ensure active dot color is applied */
  border-color: #be2604 !important; /* Change the border to match active background */
}

.carousel-image {
  max-height: 300px; /* Adjust this value as needed */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.h-100vh {
  height: 100vh;
}

@media (max-width: 767px) {
  .custom-indicators button {
    margin-bottom: 30px;
    margin-top: 50px;
  }
}
