.card-container {
  background-color: white;
  position: relative;
  height: 230px; /* Set initial height */
  overflow: hidden;
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
}

.transition-paragraph {
  position: absolute;
  bottom: 0px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.transition-paragraph.show {
  opacity: 1;
  transform: translateY(0);
}

.transition-paragraph.hide {
  opacity: 0;
  transform: translateY(20px);
}

.icon-rotate {
  transition: transform 0.3s ease-in-out;
}

.icon-rotate.up {
  transform: rotate(-90deg);
}

.img-container img,
.img-placeholder {
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 200px;
  height: 150px; /* Fixed height for image or placeholder */
}

.img-container img.shrink,
.img-placeholder.shrink {
  width: 150px; /* Reduce the image size on hover */
}

.transition-heading {
  position: relative;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.transition-heading.up {
  transform: translateY(-40px);
}

/* For screens 1200px or less */
@media (max-width: 1200px) {
  .container-lg {
    max-width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .row-cols-md-3 .col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .row-cols-sm-2 .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 600.98px) {
  .row-cols-sm-2 .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Fixed max-width 1400px media query (no quotes) */
@media (max-width: 1400px) {
  .transition-heading {
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .transition-heading.up {
    transform: translateY(-70px);
  }
}

@media (max-width: 700px) {
  .transition-heading {
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .transition-heading.up {
    transform: translateY(-40px);
  }
}

